# üìÉList - Data Structure
- ordered collection of values(same data type in list)
- list symbol [ ]
- index (subscript) starting postion with zero
- index forward : 0, 1, 2, 3, ....
- index backward: -1, -2, -3, ... 
- for in loop
- len (len: number of values in array or list)
- list can have duplicate values 
- Range of Index
- Check if a value exist in list or not(Searching)

In [31]:
marks = [90, 80, 60, 20, 40, 70, 100, 50]
# print("Original marks:", marks)
# marks  
print("Marks =", marks)

Marks = [90, 80, 60, 20, 40, 70, 100, 50]

In [32]:
marks[0]   # Accessing the first element of the list

90

In [33]:
marks[1]   # Es sy second element ko access kr skty hain by giving index value 1

80

In [34]:
print (len(marks))  # List ki length ko check krna kah kitny elements hain

8

In [ ]:
marks[8]   # ‚ùåYa error dega kyun ka ya index main nahi ha,  Error:‚ö†Ô∏è list index out of range

In [ ]:
marks[7]  # 7 index main jo bhi element hoga wo print hojaye ga

50

##  index forward : 0, 1, 2, 3, ....
##  index backward: -1, -2, -3, ...

In [ ]:
marks = [90, 80, 60, 20, 40, 70, 100, 50]

In [ ]:
# Index forward: 
# marks[0]     # list main jo bhi element hoga zero index main wo print hojaye ga
marks[1:4]     # List main sy index 1 sy 4 tk ky element ko print kry ga mgr last index 4 ko include nahi kry ga 
# Ya OUTPUT hoga : [80,60,20]
marks[0: 5]    # List main sy index 0 sy 5 tk ky element ko print kry ga mgr last index 5 ko include nahi kry ga
# Ya OUTPUT hoga: 90,89,20,50

[80, 60, 20]

In [ ]:
marks1 = [50, 60, 40, 80, 90, 30, 20 ]

In [ ]:
marks1[5]

30

In [ ]:
marks1[3]

80

In [ ]:
marks1[1:2]

[60]

In [ ]:
marks1[2:3]

[40]

In [ ]:
marks1[6]

20

In [ ]:
marks[7]  # list main 7 index main koi bhi element nhi ha  es liye error aye ga out of range

IndexError: list index out of range

In [ ]:
marks1[0]

50

In [ ]:
marks1[1:4]

[60, 40, 80]

In [ ]:
marks1[3:6]

[80, 90, 30]

In [ ]:
marks1[4:6]

[90, 30]

In [ ]:
marks1[4:6:2]

[90]

In [ ]:
marks1[2:6:2]

[40, 90]

In [ ]:
marks1[0:6]

[50, 60, 40, 80, 90, 30]

In [ ]:
marks1[0:6:2]

[50, 40, 90]

In [ ]:
# marks1[-1]
# marks1[-2]
# marks1[-5]
marks1[-7]

50

In [ ]:
marks1[-7:-1: 2]

[50, 40, 90]

In [ ]:
# loop in marks 
for mark in marks1:
  print(mark)

50
60
40
80
90
30
20

In [ ]:
len(marks1)

7

In [ ]:
mark = 0
while mark  < len(marks1):
  print(marks1[mark])
  mark = mark +1

50
60
40
80
90
30
20

In [ ]:
for mark in marks1:
  
  if mark > 50:
    print(f"{mark}: Passed")
  else:
    print(f"{mark}: Failed")

50: Failed
60: Passed
40: Failed
80: Passed
90: Passed
30: Failed
20: Failed

In [ ]:

mark = 0

while mark < len(marks1):
  # print(marks1[mark])
  
  if marks1[mark] > 50:
    print(marks1[mark],"Passed")
  else:
    print(marks1[mark], "Failed")
  mark = mark + 1

50 Failed
60 Passed
40 Failed
80 Passed
90 Passed
30 Failed
20 Failed

In [ ]:
# collections of cities values 
cities = ["Lahore", "Karachi", "Islamabad", "Peshawar"]

In [ ]:
# Checking total value in list 

len(cities)
# output : 4

4

In [ ]:
# cities[0]
# cities[-4]
# cities[-1]
# cities[3]

'Peshawar'

In [ ]:
bool_list = [True, False, True, True, False]
print(bool_list)
print(type(bool_list))

[True, False, True, True, False]
<class 'list'>

In [ ]:
for bool in bool_list:
  
  if bool == True:
    print("True")
  else:
    print("False")

True
False
True
True
False

In [ ]:
            # Data Types 
# x = 1     # int    single value
x = 1.5     # float  single value
# x = "10"  # String single value
# x = True  # Bool   single value
# x = {}    # Dict   key value pair value
# x = [10]   # List  collection of value 
# x = (10,)  # Tuple collection of unique value
# x  # always assign the value in right side
type(x)

float

In [ ]:
cities = ["Lahore","karachi",  "Islamabad", "Lahore", " Peshawar", "Karachi"]

# len(cities)  # 6 element in list

# cities[2:6]     #   ["Islamabad", "Lahore", "Peshawar"]
# cities[2:4]     #   [ "Islamabad, "Lahore"]
# cities[4:]
# cities[:4]
cities[-6: -2]

['Lahore', 'karachi', 'Islamabad', 'Lahore']

In [36]:
marks = [90, 10, 85, 70, 20]

In [ ]:
# Clear List Method
marks.clear()  # clear  list method to make list empty

In [40]:
marks

[]

In [45]:
# Append list method add value 
marks.append(45)
marks.append(40)
marks.append(30)

In [71]:
marks = []
do_again = "yes"


while do_again.lower() == "yes":
  
  try:
    # Get marks from user
    user_input = int(input("Enter Marks :"))
    # Add user marks in Empty marks list
    marks.append(user_input)
  except ValueError:
    print("Please enter a valid number .")
    continue
    # Options 
  do_again = input("Do you want to add more marks (yes/no):")

print(f"Here is the complete list of Marks: {marks}")
print("Result")

for mark in marks:
  
  if mark >= 50:
    print(f"‚úÖPassed : {mark}")
  else:
    print(f"‚ùåFailed : {mark}")

Here is the complete list of Marks: [45, 65, 85, 75, 35]
Result
‚ùåFailed : 45
‚úÖPassed : 65
‚úÖPassed : 85
‚úÖPassed : 75
‚ùåFailed : 35

In [ ]:
# marks

[45, 45, 45, 40, 30]

In [47]:
fruits = []   # empty list

In [48]:
fruits.append("Apple")
fruits.append("Cherry")
fruits.append("Banana")
fruits.append("Orange")

In [49]:
fruits

['Apple', 'Cherry', 'Banana', 'Orange']

In [ ]:
# Checking list Type
type(fruits)

list

In [58]:
#  List Index Method to check the index value of list element
fruits.index("Apple")
fruits.index("Orange")

3

In [59]:
fruits.reverse()

In [60]:
fruits

['Orange', 'Banana', 'Cherry', 'Apple']