# ðŸ“ƒList - Data Structure
- ordered collection of values(same data type in list)
- list symbol [ ]
- index (subscript) starting postion with zero
- index forward : 0, 1, 2, 3, ....
- index backward: -1, -2, -3, ... 
- for in loop
- len (len: number of values in array or list)
- list can have duplicate values

In [5]:
marks = [90, 80, 60, 20, 40, 70, 100, 50]
# print("Original marks:", marks)
# marks  
print("Marks =", marks)

Marks = [90, 80, 60, 20, 40, 70, 100, 50]

In [9]:
marks[0]   # Accessing the first element of the list

90

In [ ]:
marks[1]   # Es sy second element ko access kr skty hain by giving index value 1

80

In [ ]:
print (len(marks))  # List ki length ko check krna kah kitny elements hain

8

In [ ]:
marks[8]   # âŒYa error dega kyun ka ya index main nahi ha,  Error:âš ï¸ list index out of range

In [16]:
marks[7]  # 7 index main jo bhi element hoga wo print hojaye ga

50

##  index forward : 0, 1, 2, 3, ....
##  index backward: -1, -2, -3, ...

In [17]:
marks = [90, 80, 60, 20, 40, 70, 100, 50]

In [ ]:
# Index forward: 
# marks[0]     # list main jo bhi element hoga zero index main wo print hojaye ga
marks[1:4]     # List main sy index 1 sy 4 tk ky element ko print kry ga mgr last index 4 ko include nahi kry ga 
# Ya OUTPUT hoga : [80,60,20]
marks[0: 5]    # List main sy index 0 sy 5 tk ky element ko print kry ga mgr last index 5 ko include nahi kry ga
# Ya OUTPUT hoga: 90,89,20,50

[80, 60, 20]

In [2]:
marks1 = [50, 60, 40, 80, 90, 30, 20 ]

In [30]:
marks1[5]

30

In [31]:
marks1[3]

80

In [32]:
marks1[1:2]

[60]

In [33]:
marks1[2:3]

[40]

In [34]:
marks1[6]

20

In [ ]:
marks[7]  # list main 7 index main koi bhi element nhi ha  es liye error aye ga out of range

IndexError: list index out of range

In [36]:
marks1[0]

50

In [37]:
marks1[1:4]

[60, 40, 80]

In [38]:
marks1[3:6]

[80, 90, 30]

In [3]:
marks1[4:6]

[90, 30]

In [4]:
marks1[4:6:2]

[90]

In [5]:
marks1[2:6:2]

[40, 90]

In [6]:
marks1[0:6]

[50, 60, 40, 80, 90, 30]

In [7]:
marks1[0:6:2]

[50, 40, 90]

In [12]:
# marks1[-1]
# marks1[-2]
# marks1[-5]
marks1[-7]

50

In [19]:
marks1[-7:-1: 2]

[50, 40, 90]

In [26]:
# loop in marks 
for mark in marks1:
  print(mark)

50
60
40
80
90
30
20

In [28]:
len(marks1)

7

In [46]:
mark = 0
while mark  < len(marks1):
  print(marks1[mark])
  mark = mark +1

50
60
40
80
90
30
20

In [ ]:
for mark in marks1:
  
  if mark > 50:
    print(f"{mark}: Passed")
  else:
    print(f"{mark}: Failed")

50: Failed
60: Passed
40: Failed
80: Passed
90: Passed
30: Failed
20: Failed

In [57]:

mark = 0

while mark < len(marks1):
  # print(marks1[mark])
  
  if marks1[mark] > 50:
    print(marks1[mark],"Passed")
  else:
    print(marks1[mark], "Failed")
  mark = mark + 1

50 Failed
60 Passed
40 Failed
80 Passed
90 Passed
30 Failed
20 Failed

In [ ]:
# collections of cities values 
cities = ["Lahore", "Karachi", "Islamabad", "Peshawar"]

In [ ]:
# Checking total value in list 

len(cities)
# output : 4

4

In [ ]:
# cities[0]
# cities[-4]
# cities[-1]
# cities[3]

'Peshawar'